@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Lato:400,400i|Carter+One|Sigmar+One|Baloo+Bhaijaan&display=swap');
/* @import url('https://d2q63o9r0h0ohi.cloudfront.net/fonts/Belwe-Bold-9a6521fdfa97c59b38cf872354f166fb40b3c89d1026766795dde6540c536f34f3b30fd0fad9039d9457f80e5136d28400a3c1f5b2a73ecbd931b03d0fbfb840.woff'); */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
